{% autoescape off %}  
<strong>Este es un mesaje enviado desde el sistema SINI</strong> <br> 
{{mensaje|safe|default_if_none:"-"|linebreaks}}

<h1><strong>Datos de la incidencia</strong></h1>
<strong>Nombre:</strong> {{incidence.name}}<br>
<strong>Prioridad:</strong> {{incidence.priority}}<br>
<strong>Tipo:</strong> {{incidence.type_incidence}}<br>
<strong>Status:</strong> {{incidence.get_status_display}}<br>
<strong>Fecha creación:</strong> {{incidence.created|date:"d/m/Y"}}<br>
<strong>Coordenadas <small>(latidud,longitud)</small>:</strong> ({{latitud}}, {{longitud}})<br>
<br>
<strong>Descripción:</strong>
{{incidence.description|safe|default_if_none:"-"|linebreaks}}
{% endautoescape %}  