{% extends 'layouts/base.html' %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% block title %}
  Detalles Incidencia
{% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}
  <link rel="stylesheet" href="{% static 'assets/markers/css/leaflet.extra-markers.min.css' %}">
  <style type="text/css">
 #gis {
     width:100%;
     height:400px;
     margin-top:0;
     }
  .clickable{
      cursor: pointer;
 }

  </style>
{% endblock stylesheets %}
{% block body_class %}g-sidenav-show bg-gray-100{% endblock %}
{% block content %}
  <div class="container-fluid py-1">
    <div class="row">
      <div class="col-lg-12 col-12 mx-auto">

        <div class="card mt-0" id="geo">
          <div class="card-header mb-0">
            <h5 class="mb-0">Manejo incidencias</h5>
          </div>
          <div class="card-body d-sm-flex p-0 mt-0 pt-0">{% leaflet_map "gis" callback="window.init_map" %}</div>
        </div>

        <input type="hidden" id="selectedWarning" name="selectedWarningName"/>


<div class="modal fade"
id="crearIncidenciaModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    Crear Incidencia
  </h5>
  <button type="button"
          class="btn-close text-dark"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="elim">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="text-sm mb-0 font-weight-bold">
    Se creará una incidencia a partir del aviso actual. Seleccione la prioridad de la nueva incidencia
  </p>
  <br>
    <div class="form-group">
      <label class="control-label" for="id_prioridad_crear">Prioridad</label>
      <select id="id_prioridad_crear" class="form-select" name="prioridad_crear">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5" selected>5</option>
      </select>

    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn bg-success text-white" data-bs-dismiss="modal">
    Cerrar
  </button>
  <button type="button" class="btn bg-danger text-white" id="crearIncidencia">
    Aceptar
  </button>
</div>
</div>
</div>
</div>

      <div class="modal fade"
      id="asingModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Asignar Incidencia
        </h5>
        <button type="button"
                class="btn-close text-dark"
                data-bs-dismiss="modal"
                aria-label="Close"
                id="elim">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-sm mb-0 font-weight-bold">
          Esta acción asignará el aviso a la incidencia más cercana. ¿Desea continuar?
        </p>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-success text-white" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn bg-danger text-white" id="asignarIncidencia">
          Aceptar
        </button>
      </div>
      </div>
      </div>
      </div>

    



      <div class="modal fade"
      id="errorModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">
           Error</span>
         </h5>
         <button type="button"
                 class="btn-close text-dark"
                 data-bs-dismiss="modal"
                 aria-label="Close"
                 id="closemodalerror">
      
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <div  class="row">
           <div class="col-2 text-center text-danger">
             <i class="fa fa-3x fa-exclamation-circle "></i>
            </div>
            <div class="col-10">
             <p class="text-sm mb-0 font-weight-bold">
                Han ocurrido errores<br>
                <span id="errorspan"></span>
             </p>
             
            </div>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn bg-success text-white" data-bs-dismiss="modal" >
           Cerrar
         </button>
       </div>
      </div>
      </div>
    </div>

      <div class="modal fade"
      id="assignSuccessModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">
           Aviso asignado
         </h5>
         <button type="button"
                 class="btn-close text-dark"
                 data-bs-dismiss="modal"
                 aria-label="Close"
                 id="closemodalerror">
      
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <div  class="row">
           <div class="col-2 text-center text-success">
             <i class="fa fa-3x fa-thumbs-up"></i>
            </div>
            <div class="col-10">
             <p class="text-sm mb-0 font-weight-bold">
                Se ha asignado el aviso a la incidencia más cercana<br>
                <strong>Nombre incidencia: </strong><span id="successSpan"></span><br>
             </p>
             
            </div>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn bg-success text-white" data-bs-dismiss="modal" >
           Cerrar
         </button>
       </div>
      </div>
      </div>
    </div>

    <div class="modal fade"
    id="archiveWarningModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">
        Archivar aviso
      </h5>
      <button type="button"
              class="btn-close text-dark"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="elim">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="text-sm mb-0 font-weight-bold">
        ¿Desea archivar el aviso? Los avisos archivados no se mostrarán en el mapa
      </p>
      <br>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-success text-white" data-bs-dismiss="modal">
        Cerrar
      </button>
      <button type="button" class="btn bg-danger text-white" id="archivarAviso">
        Aceptar
      </button>
    </div>
    </div>
    </div>
    </div>

    <div class="modal fade"
    id="operationSuccessModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="successTitlelabel">
        
       </h5>
       <button type="button"
               class="btn-close text-dark"
               data-bs-dismiss="modal"
               aria-label="Close"
               id="closemodalerror">
    
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div  class="row">
         <div class="col-2 text-center text-success">
           <i class="fa fa-3x fa-thumbs-up"></i>
          </div>
          <div class="col-10">
           <p class="text-sm mb-0 font-weight-bold">
              <span id="successSpanLabel"></span>
           </p>
           
          </div>
       </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn bg-success text-white" data-bs-dismiss="modal" >
         Cerrar
       </button>
     </div>
    </div>
    </div>
  </div>

      </div>
      {% include "includes/footer.html" %}
    </div>
  </div>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

  <!--script src="{% static 'assets/js/extra-markers/src/assets/js/leaflet.extra-markers.min.jss' %}" ></script-->

  <script src="{% static 'assets/markers/js/leaflet.extra-markers.js' %}"></script>
  <script src="{% static 'sini/js/map_managment.js' %}"></script>


  <script type="text/javascript">
    var feature_incidence = false;
    var feature_warnings = false;
    var map_copy = False
    function init_map(map,options){
      console.log('Layer');

 
      
      var geom_incidence = {{ incidences|geojsonfeature:"id,name,incidence_type,description,status,active"|safe }};
      feature_incidence = L.geoJson(geom_incidence , { pointToLayer:redIcon, onEachFeature:onEachFeatureIncidence});//.addTo(map);
      var geom_warnings = {{ mobile_warnings|geojsonfeature:"id,name,incidence_type,description,status,active,assign_incidence"|safe }};
      feature_warnings = L.geoJson(geom_warnings, { pointToLayer:orangeIcon, onEachFeature:onEachFeatureWarning});

      var basemaps = {

        "osmHOT" : L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '© OpenStreetMap contributors, Tiles style by Humanitarian OpenStreetMap Team hosted by OpenStreetMap France'
        }),
        "Calles": L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        })
    };

    var overlayMaps = {
        "Incidencias": feature_incidence,
        "Avisos":feature_warnings

    };

    var features = L.control.layers(basemaps, overlayMaps).addTo(map);
    //map.fitBounds(feature_warnings.getBounds());

    var bounds1 = feature_warnings.getBounds();
    var bounds2 = feature_incidence.getBounds();

    map.fitBounds(bounds1.extend(bounds2));

    feature_incidence.addTo(map);
    feature_warnings.addTo(map);
    basemaps["Calles"].addTo(map);

 
      
      //map.setZoom(12)

      var legend = L.control({ position: "bottomleft" });
      let legend_label = "Leyenda";
      let incidence_label = "Incidencias";
      let warning_label = "Avisos";


      legend.onAdd = function (map) {
          var div = L.DomUtil.create('div', 'legend');
          div.style.backgroundColor = "#F2E8F0"
          div.innerHTML = `<div>&nbsp;&nbsp;&nbsp;<b>${legend_label}</b></div>`;
          div.innerHTML += `<i style="background:#9F2C31">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;<strong>${incidence_label}</strong>&nbsp;&nbsp;<br/>`;
          div.innerHTML += `<i style="background:#EF8E20">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;<strong>${warning_label}</strong>&nbsp;&nbsp;<br/>`;
          return div
      }
      legend.addTo(map);


      //console.log(feature_warnings._layers[51].feature.id);

      //console.log(feature_warnings._layers[51]._popup._content);
      map_copy = map
  };
  
  


  </script>
{% endblock javascripts %}
