{% extends 'layouts/base.html' %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% block title %}
  Detalles Aviso
{% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}
  <style type="text/css">
 #gis {
     width:100%;
     height:700px;
     }
  .clickable{
      cursor: pointer;
 }

  </style>
{% endblock stylesheets %}
{% block body_class %}g-sidenav-show bg-gray-100{% endblock %}
{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-12 col-12 mx-auto">
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url('/static/assets/img/curved-images/curved0.jpg');
                    background-position-y: 50%">
          <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
          <div class="row gx-4">
            <div class="col-auto my-auto">
              <div class="h-100">
                <h3>
                  Detalles: <span>'{% firstof api_user.name|default_if_none:"-" %}'</span>
                </h3>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3 d-flex justify-content-end">
              <a href="{% url 'sini:api_user_list' %}"
                 class="btn btn-secondary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
              <a href="{% url 'sini:api_user_create' %}"
                 class="btn btn-primary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-plus"></i>&nbsp;&nbsp;Crear</a>
              <a href="{% url 'sini:api_user_update' api_user.id %}"
                 class="btn btn-primary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-edit"></i>&nbsp;&nbsp;Editar</a>
              <!--a class="btn btn-danger btn-large btn-sm m-b-xm"><i class="fa fa-edit"></i>&nbsp;&nbsp;Eliminar</a-->
              <button class="btn btn-danger btn-large btn-sm m-b-xm mx-1"
                      id="eliminarB"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal"
                      value="{{ api_user.id }}">
                <i class="far fa-trash-alt me-2" aria-hidden="true"></i>&nbsp;&nbsp;Eliminar
              </button>
            </div>
          </div>
        </div>
        <div class="card card-body mt-2">
          <div class="row">
            <div class="col-lg-6 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3 d-flex justify-content-start mr-3">

              <button class="btn btn-primary btn-large btn-sm mx-1 mb-0"
              id="cambiarP"
              data-bs-toggle="modal"
              data-bs-target="#cambiarPasswordModal"
              value="{{ api_user.id }}">&nbsp;&nbsp;Cambiar contraseña
            </button>
              
              {% if api_user.active%}
                <form id="archive_form"
                action="{% url 'sini:api_user_archive' api_user.id %}"
                class=""
                method="post"
                autocomplete="off">
                {% csrf_token %}
                  
                  <button class="btn btn-secondary btn-large btn-sm mx-1 mb-0"
                    type="submit"
                    id="archivarB"
                    value="archivar">&nbsp;&nbsp;Archivar
                  </button>
                
                </form>
              {% else %}
              <form id="ctivate_form"
              action="{% url 'sini:api_user_activate' api_user.id %}"
              class=""
              method="post"
              autocomplete="off">
              {% csrf_token %}
                
                <button class="btn btn-primary btn-large btn-sm mx-1 mb-0"
                  type="submit"
                  id="archivarB"
                  value="archivar">&nbsp;&nbsp;Activar
                </button>
               
              </form>

              {% endif %}
            </div>

            <div class="col-6">
              <strong>Activo: </strong>                
              {% if api_user.active %}
              <span class="badge badge-success">SI</span>
              {% else %}
              <span class="badge badge-danger">NO</span>
              {% endif %}
           </div>  
          </div>  

        </div>
        <div class="card card-body mt-2">
          <!--h6 class="mb-0">New Project</h6>
<p class="text-sm mb-0">Create new project</p-->
          <div class="row mb-2">
            <div class="col-6">
              <div class="form-group">
                <h6>Nombre</h6>
                <div class="mr-2">{% firstof api_user.name|default_if_none:"-" %}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <h6>Email</h6>
                <div class="mr-2">{% firstof api_user.email|default_if_none:"-" %}</div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <h6>Grupo</h6>
                <div class="mr-2">{% firstof api_user.group|default_if_none:"-" %}</div>
              </div>
            </div>
          </div>
        </div>


  <div class="modal fade"
        id="cambiarPasswordModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Cambiar contraseña
          </h5>
          <button type="button"
                  class="btn-close text-dark"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  id="dismisscambiarPassword">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-sm mb-0 font-weight-bold">
            Al cambiar la contraseña se enviará un correo al usuario con las nuevas credenciales.
          </p>
          <br>
          <form id="password-form" name="formpassword">
            {% csrf_token %}
            <input type="hidden" id="user_id_hidden" value="{{api_user.id}}">
            <div class="form-group">
              <label class="control-label" for="newpassword">Nueva contraseña</label>
              <input type="password" id="newpassword" name="newpassword" class="form-control" required></input>
              <input id="checkShow" type="checkbox" class="mt-4" onclick="showpasswordFunction()">&nbsp;<b>Mostrar contraseña</b>
            </div>
    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-success text-white" data-bs-dismiss="modal" id="cerrarModalPassword">
            Cerrar
          </button>
          <button type="submit" class="btn bg-secondary text-white" id="cambiarPassword">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinnerButton" style="display:none;"></span>
            Aceptar
          </button>
        </form>
        </div>
      </div>
      </div>
      </div>

    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Eliminar
            </h5>
            <button type="button"
                    class="btn-close text-dark"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    id="elim">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-sm mb-0 text-capitalize font-weight-bold">
              Está seguro que desea eliminar el usuario?
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-success text-white" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button type="button" class="btn bg-danger text-white" id="aceptar">
              Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade"
    id="errorModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">
         Error</span>
       </h5>
       <button type="button"
               class="btn-close text-dark"
               data-bs-dismiss="modal"
               aria-label="Close"
               id="closemodalerror">
    
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div  class="row">
         <div class="col-2 text-center text-danger">
           <i class="fa fa-3x fa-exclamation-circle "></i>
          </div>
          <div class="col-10">
           <p class="text-sm mb-0 font-weight-bold">
              <span id="errorspan"></span>
           </p>
           
          </div>
       </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn bg-success text-white" data-bs-dismiss="modal" >
         Cerrar
       </button>
     </div>
    </div>
    </div>
  </div>

 
</div>
    {% include "includes/footer.html" %}
  </div>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

  <script type="text/javascript">

    function showpasswordFunction() {
      var x = document.getElementById("newpassword");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }

    $(document).ready(function() {
      $("#show_hide_password a").on('click', function(event) {
          event.preventDefault();
          if($('#show_hide_password input').attr("type") == "text"){
              $('#show_hide_password input').attr('type', 'password');
              $('#show_hide_password i').addClass( "fa-eye-slash" );
              $('#show_hide_password i').removeClass( "fa-eye" );
          }else if($('#show_hide_password input').attr("type") == "password"){
              $('#show_hide_password input').attr('type', 'text');
              $('#show_hide_password i').removeClass( "fa-eye-slash" );
              $('#show_hide_password i').addClass( "fa-eye" );
          }
      });
  });
  document.getElementById("aceptar").addEventListener('click', function(){

    console.log('ACEPTAR');
    var valor = document.getElementById('eliminarB').value;

    var request = $.ajax({
        type: "GET",
        url: "/sini/usuarios-moviles/eliminar/",
        data: {
            "id": valor
        },
        success: function (response) {
            console.log(response)
            $("#deleteModal").modal('hide');
            $(location).attr('href', "{% url 'sini:api_user_list' %}");

        },
        error: function (response, e) {
            console.log(response);
            
            $("#deleteModal").modal('hide');
            if (response.responseJSON.mensaje =='restricted'){
                 alert(response.responseJSON.error);
            }
            else{
               alert('Ha ocurrido un error al eliminar, Contacte al Administrador');
            }
            
            
        }
    });

});   



$('#password-form').on('submit', function(event){
  event.preventDefault();
  var newpassword = $('#newpassword').val();
  var id_user = $('#user_id_hidden').val();

  console.log(id_user);
  console.log(newpassword);

  var element = $("form[name='formpassword'] input[name='csrfmiddlewaretoken']");
  console.log(element[0]);
  var token = element[0].value
  console.log(token)
  

  $("#spinnerButton").show();
  $("#cambiarPassword").prop('disabled', true);
  $("#cerrarModalPassword").prop('disabled', true);
  $("#dismisscambiarPassword").prop('disabled', true);
  
  
  var request = $.ajax({
    type: "POST",
    headers: {"X-CSRFToken": token},
    url: "/sini/usuarios-moviles/cambiar-password/",
    //contentType: 'application/json',
    data: {
        "id":id_user,
        "newpassword":newpassword

    },
    success: function (response) {
        $("#cambiarPasswordModal").modal('hide');
        $("#spinnerButton").hide();
        $("#cambiarPassword").prop('disabled', false);
        $("#cerrarModalPassword").prop('disabled', false);
        $("#dismisscambiarPassword").prop('disabled', false);
        $("#newpassword").val("");
        $('#checkShow').prop('checked', false);
        var x = document.getElementById("newpassword");
        x.type = "password";
        

    },
    error: function (response, e) {
        console.log(response);
        

        $("#cambiarPasswordModal").modal('hide');
        $("#spinnerButton").hide();
        $("#cambiarPassword").prop('disabled', false);
        $("#cerrarModalPassword").prop('disabled', false);
        $("#dismisscambiarPassword").prop('disabled', false);
        $("#newpassword").val("");
        $('#checkShow').prop('checked', false);
        var x = document.getElementById("newpassword");
        x.type = "password";

     

        $('#errorModal').modal('show');
         var errorspan = document.getElementById('errorspan');
        
     
          errorspan.textContent ='Ha ocurrido un error al cambiar la contraseña, Contacte al Administrador';
        
        
        
    }
});

});


  </script>
{% endblock javascripts %}
