{% extends 'layouts/base.html' %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% block title %}
  Detalles Aviso
{% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}
  <style type="text/css">
 #gis {
     width:100%;
     height:700px;
     }
  .clickable{
      cursor: pointer;
 }

  </style>
{% endblock stylesheets %}
{% block body_class %}g-sidenav-show bg-gray-100{% endblock %}
{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-12 col-12 mx-auto">
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url('/static/assets/img/curved-images/curved0.jpg');
                    background-position-y: 50%">
          <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
          <div class="row gx-4">
            <!--div class="col-auto">
         <div class="avatar avatar-xl position-relative">
           <img src="/static/assets/img/arbol.jpeg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
         </div>
       </div-->
            <div class="col-auto my-auto">
              <div class="h-100">
                <h3>
                  Detalles: <span>'{% firstof api_user.name|default_if_none:"-" %}'</span>
                </h3>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3 d-flex justify-content-end">
              <a href="{% url 'sini:api_user_list' %}"
                 class="btn btn-secondary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
              <a href="{% url 'sini:api_user_create' %}"
                 class="btn btn-primary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-plus"></i>&nbsp;&nbsp;Crear</a>
              <a href="{% url 'sini:api_user_update' api_user.id %}"
                 class="btn btn-primary btn-large btn-sm m-b-xm mx-1"><i class="fa fa-edit"></i>&nbsp;&nbsp;Editar</a>
              <!--a class="btn btn-danger btn-large btn-sm m-b-xm"><i class="fa fa-edit"></i>&nbsp;&nbsp;Eliminar</a-->
              <button class="btn btn-danger btn-large btn-sm m-b-xm mx-1"
                      id="eliminarB"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal"
                      value="{{ api_user.id }}">
                <i class="far fa-trash-alt me-2" aria-hidden="true"></i>&nbsp;&nbsp;Eliminar
              </button>
            </div>
          </div>
        </div>
        <div class="card card-body mt-4">
          <!--h6 class="mb-0">New Project</h6>
<p class="text-sm mb-0">Create new project</p-->
          <div class="row mb-2">
            <div class="col-6">
              <div class="form-group">
                <h6>Nombre</h6>
                <div class="mr-2">{% firstof api_user.name|default_if_none:"-" %}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <h6>Email</h6>
                <div class="mr-2">{% firstof api_user.email|default_if_none:"-" %}</div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <h6>Grupo</h6>
                <div class="mr-2">{% firstof api_user.group|default_if_none:"-" %}</div>
              </div>
            </div>
          </div>
        </div>


    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Eliminar
            </h5>
            <button type="button"
                    class="btn-close text-dark"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    id="elim">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-sm mb-0 text-capitalize font-weight-bold">
              Está seguro que desea eliminar el usuario?
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-success" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button type="button" class="btn bg-danger text-white" id="aceptar">
              Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>

 
</div>
    {% include "includes/footer.html" %}
  </div>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

  <script type="text/javascript">
  document.getElementById("aceptar").addEventListener('click', function(){

    console.log('ACEPTAR');
    var valor = document.getElementById('eliminarB').value;

    var request = $.ajax({
        type: "GET",
        url: "/ganaclima/finca/eliminar",
        data: {
            "id": valor
        },
        success: function (response) {
            console.log(response)
            $("#deleteModal").modal('hide');
            $(location).attr('href', "{% url 'sini:api_user_list' %}");

        },
        error: function (response, e) {
            console.log(response);
            
            $("#deleteModal").modal('hide');
            if (response.responseJSON.mensaje =='restricted'){
                 alert(response.responseJSON.error);
            }
            else{
               alert('Ha ocurrido un error al eliminar, Contacte al Administrador');
            }
            
            
        }
    });

});   




  </script>
{% endblock javascripts %}
