<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-4 mx-auto text-center fadeIn1 fadeInBottom">
        <a href="#" 
           target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Sobre SINI
        </a>
        <a href="#" 
           target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Soporte
        </a>
        <a href="#" 
           target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Otros enlaces
        </a>
        <a href="#" 
           target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Sitio Defensa
        </a>
        <a href="#" 
           target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Blog
        </a>          
      </div>
      <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
        <img class="w-15 fadeIn1 fadeInBottom" src="/static/assets/img/logo-defensa-civil.png" alt="500-error">
        
        <img class="w-30 fadeIn1 fadeInBottom" src="/static/assets/img/logo-sini.png" alt="500-error">
        <img class="w-15 fadeIn1 fadeInBottom" src="/static/assets/img/logo-emergencias.png" alt="500-error">
        
        <!--a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-dribbble"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-twitter"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-instagram"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-pinterest"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-github"></span>
        </a-->
      </div>
    </div>
    <div class="row">
      <div class="col-8 mx-auto text-center mt-1">
        
        <!--p class="mb-0 text-secondary">
          &copy; <a target="_blank" href="#">Denebinc</a> - desarrollado por Denebinc. 
        </p-->
      </div>
    </div>
  </div>
</footer>