 /* Select2 custom styles */
 .select2-container--default .select2-selection--single,
 .select2-container--default .select2-selection--multiple {
   border-color: #0F4374;
 }
 .select2-container--default.select2-container--focus .select2-selection--single,
 .select2-container--default.select2-container--focus .select2-selection--multiple {
   border-color: #0F4374;
 }
 .select2-container--default .select2-results__option--highlighted[aria-selected] {
   background-color: #0F4374;
 }
 .select2-container--default .select2-search--dropdown .select2-search__field {
   border-color: #0F4374;
 }
 .select2-dropdown {
   border-color: #0F4374;
 }
 .select2-dropdown input:focus {
   outline: none;
 }
 .select2-selection {
   outline: none;
 }
 .ui-select-container.ui-select-bootstrap .ui-select-choices-row.active > a {
   background-color: #0F4374;
 }
